@model Product
<div class="card" style="width: 18rem; padding: 5px;">
    <div class="card-body">
        <Label class="card-title text-center">@Model.Name</Label>
        <br />
        <label class="card-text" asp-for="Name">@Model.Price.ToString("c")</label>
        <br />
        <label class="card-text"> Quantity Available: @Model.Quantity</label>
        <br />
        <a asp-controller="Shop" asp-action="Add">Add</a>
    </div>
    <div class="card-footer">
        <input class="num-spinner" asp-for="Quantity" id="spinner-@Model.Id" style="padding: 10px; width: 75%;" type="number" value="0" min="0" max="@Model.Quantity" step="1" />
    </div>
</div>
