@model ShopModel

@foreach (var item in @Model.UOW.Products.GetAll())
{
    <partial name="_ProductCard" model="item"/>
    
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <a class="btn btn-primary" asp-controller="Shop" asp-action="CheckOutCustomer">CheckOut</a>
        </div>
    </div>
</div>

