@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Coreys Knick Knacks</h1>
    <p>Hello, Welcome to Coreys Knick Knacks! <a asp-controller="Shop" asp-action="Index">Click Here</a> to get started on a cart.</p>
</div>
